Django==2.0
django-filter==1.1.0
djangorestframework==3.7.3
pytz==2017.3
psycopg2==2.7.3.2
django-cors-headers==2.1.0
django-webtest==1.9.2
WebTest==2.0.29
simplejson==3.13.2
six==1.11.0
waitress==1.1.0
WebOb==1.7.4